@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Tektur:wght@400..900&display=swap');



body{
    background-color: lightgray;
}

h1 {
    color: rgb(180, 185, 44);
}

.image{
    text-align: center;
    margin: auto;
}
img{
    width: 50%;

    border-width: 6px;
    border-radius: 20px;
    border-color: cadetblue;
    border-style: solid;
}

.recipe{
    margin: 10px;
    padding: 25px;

}

#tip{
    text-align: center;
    font-weight: bolder;
    border-width: 10px;
    border-radius: 10px;
    border-color: salmon;
    border-style: outset;
}


#bananaFoster{
    border-left-width: 20px;
    border-right-width: 20px;
    border-color: rgb(156, 18, 135);
    border-style:groove;
    background-color: rgb(244, 254, 197);
    
    font-family: "Ephesis", cursive;
    font-style: normal;
}

#chickenSoup {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-width: 10px;
    border-color: black;
    background-image:linear-gradient(blue,orange);
    border-style:dashed;
}

#chickenParm {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-width: 10px;
    border-color: rgb(50, 61, 222);
    border-style:dotted;
    border-radius: 0.3in;
    
}

#kugel{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(30, 30, 113);
}

#kugelHeader{
    transform: skewX(-40deg);
    color:blueviolet;
    background-color: yellow;
    border-width: 2px;
    border-color: green;
    border-style: solid;
    border-radius: 100%;
    text-align: center;
}

#hal{
    font-family:"tektur";
    color: blanchedalmond;
    background-color: black;

    border-width: 6px;
    border-color: white;
    border-style: dotted;
}