body{
    background-color: lightgray;
}


h1 {
    color: rgb(11, 83, 72);
}
#bananaFoster{
    border-width: 10px;
    border-color: yellow;
    border-style:outset;
    background-color: rgb(244, 254, 197);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#chickenSoup {
    border-width: 10px;
    border-color: rgb(35, 169, 111);
    background-image:linear-gradient(blue,red);
    border-style:groove;
}

#chckenCutlet {
    border-width: 10px;
    border-color: rgb(50, 61, 222);
    border-style:solid;
    border-radius: 0.3in;
}